# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
salaries_null = salaries.isnull().sum()
salaries_null[salaries_null > 0]

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [12]:
salaries.groupby('Salary or Hourly').agg({'Salary or Hourly':'count'})
# We have 8022 hourly employed people and 25161 salary employed people.

                  Salary or Hourly
Salary or Hourly
Hourly                        8022
Salary                       25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [11]:
salaries.groupby('Department').agg({'Department':'count'})

                       Department
Department
ADMIN HEARNG                   39
ANIMAL CONTRL                  81
AVIATION                     1629
BOARD OF ELECTION             107
BOARD OF ETHICS                 8
BUDGET & MGMT                  46
BUILDINGS                     269
BUSINESS AFFAIRS              171
CITY CLERK                     84
CITY COUNCIL                  411
COMMUNITY DEVELOPMENT         207
COPA                          116
CULTURAL AFFAIRS               65
DISABILITIES                   28
DoIT                           99
FAMILY & SUPPORT              615
FINANCE                       560
FIRE                         4641
GENERAL SERVICES              980
HEALTH                        488
HUMAN RELATIONS                16
HUMAN RESOURCES                79
INSPECTOR GEN                  87
LAW                           407
LICENSE APPL COMM               1
MAYOR'S OFFICE                 85
OEMC                         2102
POLICE                      13414
POLICE BOARD                    2
PROCUREMENT                    92
PUBLIC LIBRARY               1015
STREETS & SAN                2198
TRANSPORTN                   1140
TREASURER                      22
WATER MGMNT                  1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [17]:
import scipy.stats as st

# 1. Hipothesis
# H0 - mu hourly wage = 30$
# H1 - mu hourly wage != 30$
# Two tailed

# 2. Choose the significance level
alpha = 1 - 0.95

# 3. Our sample is the following

sample = salaries[salaries['Salary or Hourly'] == 'Hourly']

# 4. and 5.

stat, p_value = st.ttest_1samp(sample['Hourly Rate'], 30)

print(stat)
print(p_value)

20.6198057854942
4.3230240486229894e-92

In [18]:
# 6. Decision

p_value < alpha

# Because p_value being smaller than alpha, we can reject h0. 
# h1 is sustented by the evidence, we can say that the hourly 
# wage is signifficantly smaller than 30$.

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [22]:
import scipy.stats as st

# 1. Hipothesis
# H0 - mu salaries this year <= 86000
# H1 - mu salaries this year > 86000
# Single tailed

# 2. Choose the significance level
alpha = 1 - 0.95

# 3. Our sample is the following:
condition = (salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')
sample = salaries[condition]

# 4. and 5.

stat, p_value = st.ttest_1samp(sample['Annual Salary'], 86000)

print(stat)
print(p_value/2) # because is single tailed

3.081997005712994
0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [25]:
# 6. Decision

# p_value < alpha  <------- NO NEED

# Because stat being positive, it means that the new mean of 
# annual salary is to the right of 86000 (last year's average),
# so we can confirm that this years mu annual salary is higher 
# than last years average. So we can reject h0 because the data 
# shows h1 is accurate.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [32]:
# To check which department has the most hourly workers:
salaries.groupby('Department').agg({'Typical Hours':'count'}).sort_values('Typical Hours', ascending=False).head()

# We can see that 'STREETS & SAN' is the department with most hourly workers

                  Typical Hours
Department
STREETS & SAN              1862
WATER MGMNT                1513
OEMC                       1273
AVIATION                   1082
GENERAL SERVICES            765

In [34]:
# 1. Hipothesis
# H0 - mu hourly wage >= 35$
# H1 - mu hourly wage < 35$
# Two tailed

# 2. Choose the significance level
alpha = 1 - 0.95

# 3. Our sample is the following
condition = (salaries['Department'] == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')
sample = salaries[condition]

# 4. and 5.

stat, p_value = st.ttest_1samp(sample['Hourly Rate'], 35)

print(stat)
print(p_value)

-9.567447887848152
3.3378530564707717e-21

In [ ]:
# 6. Decision

# p_value < alpha  <------- NO NEED

# Because stat being negative, it means that mu hourly wage 
# falls to the left of 35 so we can reject h0 and say that the 
# average hourly wage is less than 35$ per hour

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [40]:

sample = salaries[salaries['Salary or Hourly'] == 'Hourly']

n = len(sample['Typical Hours'])

x = sample['Typical Hours'].mean()

s = sample['Typical Hours'].std(ddof=1)

st.t.interval(0.95, n-1, loc=x, scale= s/np.sqrt(n))  

# We can see that the confidence interval falls between the values shown on the output of this cell.

(34.30511037945295, 34.71009779805889)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [42]:
condition = (salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')
sample = salaries[condition]

n = len(sample['Annual Salary'])

x = sample['Annual Salary'].mean()

s = sample['Annual Salary'].std(ddof=1)

st.t.interval(0.95, n-1, loc=x, scale= s/np.sqrt(n))  

# We can see that the confidence interval falls between the values shown on the output of this cell.

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: